##########################
# Common files
data/**
**/model/**/*.png
**/model/**/*.png
**/model/**/nnUNet_preprocessed/**
/**/_log_*
/**/debug.json
**/temp_models/**
**/test_outputs/**
**/evaluation/**
!/**/.gitkeep
chroma_db**
**chroma.sqlite3
embeddings**
**slurm-**
test.ipynb
# Large folders
binding/
digital\ twin/
models/
nnUNet/
output_app/
__pycache__/
*.pth
*.pt
*.h5
*.mat
