beautifulsoup4==4.12.2
html5lib==1.1
imageio>=2.34.1
imgaug==0.4.0
imutils==0.5.4
joblib==1.4.0
keras==2.14.0
librosa>=0.10.2
matplotlib==3.8.4
numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.2.2
pillow==10.3.0
pyyaml
PyYAML==6.0.1
qrcode>=7.4.2
requests>=2.22.0
roughpy>=0.1.1
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.12.2
spacy>=3.2.6
tensorflow==2.14.0
torch>=2.2.0
torchdiffeq>=0.2.4
torchvision>=0.17.0
tqdm==4.66.1
validators==0.18.2
wfdb==4.1.2
google-auth